<div class="container">
    <h1>User Profile</h1>
    <h2>I have made handlebars working in my server</h2>
    <h1>Your Name is {{ name }}</h1>
    <h1>Your phone Number is {{ phone }}</h1>
    <h1>Your website is {{ website }}</h1>

    <address>
        <p>{{address.street}}</p>
        <p>{{address.suite}}</p>
        <p>{{address.city}}</p>
        <p>{{address.zipcode}}</p>
        <p>{{address.geo.lat}}</p>
        <p>{{address.geo.lng}}</p>
    </address>
</div>